<div class="container">
  {{#each postData}}
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">{{title}}</h5>
      </div>
      <div class="card-body">
        <a href="/post/{{id}}">Read More...</a>
      </div>
      <div class="card-footer">
        <p class="card-text"><strong>Created by:</strong>
          {{user.username}}
          <strong>Created on:</strong>
          {{format_date createdAt}}</p>
      </div>
    </div>
  {{/each}}
</div>