<div class="container">
  {{#each postData}}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text"><strong>Created By:</strong> {{user.username}}
          <strong>Created At:</strong>
          {{format_date createdAt}}</p>
        <a href="/post/{{id}}">Read More</a>
      </div>
    </div>
  {{/each}}
</div>