<div class="container">
  <div class="card">
    <div class="card-header">
      <label for="exampleFormControlTextarea1" class="form-label">Title</label>
      <textarea
        id="edit-title"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="1"
      >{{post.title}}</textarea>
    </div>
    <div class="card-body">
      <label
        for="exampleFormControlTextarea1"
        class="form-label"
      >Content</label>
      <textarea
        id="edit-content"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      >{{post.content}}</textarea>
    </div>
    <div class="card-footer d-flex footer-icons">
      <button class="btn btn-primary" data-id="{{post.id}}" id="update-link">
        Save
        <span><i class="fa-solid fa-floppy-disk"></i></span>
      </button>
      <button class="btn btn-danger ml-auto" data-id="{{post.id}}" id="delete-link">
        Delete
        <span><i class="fa-solid fa-trash"></i></span>
      </button>
    </div>
  </div>
</div>

<script src="/js/edit.js"></script>
